
body{
    background-color:grey;
    margin-top: -8px;
    border-style: solid;

}

.navbar-brand{
    background-color:lightseagreen;
    margin-left: 70px;
    padding: 15px;
    background-size: 100%;
    margin-bottom: -8px;  
}
.name{
    font-weight: bold;
    color: white;
}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:rgb(71, 49, 49);
    color: white;
    text-align: center;
    padding: 12px;
}