
body{
    background-color: gray;
    margin-top: -8px;
}
.mynav {
    padding:15px; 
    margin-bottom:-8px; 
    margin-left:30px; 
    font-weight: bolder;
    background-color: seagreen; 
        
}
.colbody{
    background-color:white; 
    margin-top:25px; 
    
}
.colbody h4{
    color: seagreen;
    margin-top: 20px;
}
.colbody hr{
    height:3px;
    border-width:0; 
    background-color:gray
}
.colimg img{
    float:left;
    width:150px;
    height:150px; 
    margin-right:20px
}
.colimg p{
    text-align: left
}